{% extends "admin/base.html" %}
{% load static %}

{% block title %}
{{ title }} | Times School Notification bot
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}" class="ts-brand-link">
        <img src="{% static 'branding/times-school-logo.svg' %}" alt="Times School logo" class="ts-brand-logo">
        <span class="ts-brand-text">Times School Notification bot</span>
    </a>
</h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/custom_admin.css' %}">
{% endblock %}



























































































